%h1 Edit Wiki
.row
  .col-md-4
    %p Guidelines for wikis
    %ul
      %li Titles have to be at least 5 characters
      %li Bodys have to be big, at least 20 characters
      %li Nothing mean
  .col-md-8
    = render partial: 'wikis/form_edit', locals: { wiki: @wiki }
  - if current_user.role == 'admin' || (current_user.role == 'premium' && @wiki.user_id == current_user.id)
    - @users = current_user.exclude
    .col-md-4
      = render partial: 'users/user', collection: @users, locals: { wiki: @wiki }

