%h1 Wikis
- if policy(Wiki.new).create?
  = link_to "New Wiki", new_wiki_path, class: 'btn btn-success'
- @wikis.each do |wiki|
  .media
    .media-body
      .media-heading
        %p= markdown_to_html link_to wiki.title, wiki
