.row
  .col-md-4
    %p Guidelines for wikis
    %ul
      %li Titles have to be at least 5 characters
      %li Bodys have to be big, at least 20 characters
      %li Nothing mean
  .col-md-8
    = render partial: 'wikis/form_new', locals: { wiki: @wiki }
    

