<%= form_tag new_charge_path do %>
  <h3>Upgrade to a premium account, and you can create private wikis which only you and your collaborators can see and edit</h1>
   <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount=<%= @stripe_btn_data[:amount] %> data-description="<%= @stripe_btn_data[:description] %>" ></script>
 <% end %>